{% extends 'layout.html' %} {% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <nav>
            <div class="nav nav-tabs bg-dark" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-agua" role="tab" aria-controls="nav-home"
                    aria-selected="true">Água</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-musculacao" role="tab" aria-controls="nav-profile"
                    aria-selected="false">Musculação</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <br />
            <div class="tab-pane fade show active" id="nav-agua" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <canvas id="aguaC" style="width: 512px; height: 256px"></canvas>
                        <script>
                            var ctx = document.getElementById("aguaC");
                            var qtn = JSON.parse('{{ qtn|safe }}');
                            var meta = JSON.parse('{{ meta|safe }}');
                            var aguaC = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: meta,
                                    datasets: [{
                                        label: 'Agua',
                                        data: qtn,
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255,99,132,1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-musculacao" role="tabpanel" aria-labelledby="nav-profile-tab">
                <br />
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Treino</th>
                                    <th scope="col">Exercicio</th>
                                    <th scope="col">Repetições</th>
                                    <th scope="col">Serie</th>
                                    <th scope="col">Pesso</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in musculacao %}
                                <tr>
                                    <th scope="row">{{x.musculacao_treino}}</th>
                                    <td>{{x.musculacao_exercicio}}</td>
                                    <td>{{x.musculacao_repeticoes}}</td>
                                    <td>{{x.musculacao_serie}}</td>
                                    <td>{{x.musculacao_pesso}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}